@charset "UTF-8";
/*
@function pow($base, $exponent) {
  $result: 1;
  @for $_ from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}

.sidebar {
  float: left;
  margin-left: pow(4, 3) * 1px;
}
*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
:root {
  --fd-blue: #007bff;
  --fd-indigo: #6610f2;
  --fd-purple: #6f42c1;
  --fd-pink: #e83e8c;
  --fd-red: #dc3545;
  --fd-orange: #fd7e14;
  --fd-yellow: #ffc107;
  --fd-green: #28a745;
  --fd-teal: #20c997;
  --fd-cyan: #17a2b8;
  --fd-white: #fff;
  --fd-gray: #6c757d;
  --fd-gray-dark: #343a40;
  --fd-gray-100: #f8f9fa;
  --fd-gray-200: #e9ecef;
  --fd-gray-300: #dee2e6;
  --fd-gray-400: #ced4da;
  --fd-gray-500: #adb5bd;
  --fd-gray-600: #6c757d;
  --fd-gray-700: #495057;
  --fd-gray-800: #343a40;
  --fd-gray-900: #212529;
  --fd-primary: #007bff;
  --fd-secondary: #6c757d;
  --fd-success: #28a745;
  --fd-info: #17a2b8;
  --fd-warning: #ffc107;
  --fd-danger: #dc3545;
  --fd-light: #f8f9fa;
  --fd-dark: #343a40;
  --fd-font-sans-serif: system-ui, -apple-system, Nanum Gothic, Malgun Gothic, dotum, Helvetica, sans-serif;
  --fd-breakpoint-mobile: 0;
  --fd-breakpoint-tablet: 768px;
  --fd-breakpoint-pc: 1200px;
  --fd-gutter-x: 10px;
}

/* 초기화 */
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: var(--fd-font-sans-serif);
  background: var(--fd-gray-200);
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
figure,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

legend {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
}

label,
input,
button,
select,
img {
  vertical-align: middle;
  font-size: 1rem;
}

input,
button {
  margin: 0;
  padding: 0;
  font-family: var(--fd-font-sans-serif);
  font-size: 1rem;
}

input[type=submit] {
  cursor: pointer;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

textarea,
select {
  font-family: var(--fd-font-sans-serif);
  font-size: 1rem;
}

select {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

hr {
  display: none;
}

pre {
  overflow-x: scroll;
  font-size: 1rem;
}

a {
  color: #000;
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text],
input[type=password],
textarea {
  outline: none;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  border: 1px solid #558ab7 !important;
}

input[type=text]::-ms-clear {
  display: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen-out {
  display: block;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen-hide {
  font-size: 0;
  line-height: 0;
  visibility: hidden;
} /* screen_out클래스를 사용할 수 없으며, 해당 텍스트를 숨겨야 할때 */
.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.transition-3 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.transition-5 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.teleNum {
  color: inherit !important;
}

/* 
** opacity 
*/
.opacity_0 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
}

.opacity_10 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  opacity: 10;
  filter: alpha(opacity=10);
  zoom: 1;
}

.opacity_15 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  opacity: 15;
  filter: alpha(opacity=15);
  zoom: 1;
}

.opacity_20 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  opacity: 20;
  filter: alpha(opacity=20);
  zoom: 1;
}

.opacity_25 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  opacity: 25;
  filter: alpha(opacity=25);
  zoom: 1;
}

.opacity_30 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  opacity: 30;
  filter: alpha(opacity=30);
  zoom: 1;
}

.opacity_35 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  opacity: 35;
  filter: alpha(opacity=35);
  zoom: 1;
}

.opacity_40 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  opacity: 40;
  filter: alpha(opacity=40);
  zoom: 1;
}

.opacity_45 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
  opacity: 45;
  filter: alpha(opacity=45);
  zoom: 1;
}

.opacity_50 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 50;
  filter: alpha(opacity=50);
  zoom: 1;
}

.opacity_55 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
  opacity: 55;
  filter: alpha(opacity=55);
  zoom: 1;
}

.opacity_60 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  opacity: 60;
  filter: alpha(opacity=60);
  zoom: 1;
}

.opacity_65 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  opacity: 65;
  filter: alpha(opacity=65);
  zoom: 1;
}

.opacity_70 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: 70;
  filter: alpha(opacity=70);
  zoom: 1;
}

.opacity_75 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  opacity: 75;
  filter: alpha(opacity=75);
  zoom: 1;
}

.opacity_80 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 80;
  filter: alpha(opacity=80);
  zoom: 1;
}

.opacity_85 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  opacity: 85;
  filter: alpha(opacity=85);
  zoom: 1;
}

.opacity_90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  opacity: 90;
  filter: alpha(opacity=90);
  zoom: 1;
}

.opacity_95 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  opacity: 95;
  filter: alpha(opacity=95);
  zoom: 1;
}

/* 
** wrap, container 
*/
.fd_wrap {
  position: relative;
  display: block;
  width: 100%;
  min-width: 100%;
}
@media only screen and (min-width: 1200px) {
  .fd_wrap {
    position: relative;
    display: block;
    width: 100%;
    min-width: 1200px;
  }
}

.fd_wrap:after {
  display: block;
  height: 0;
  content: ".";
  font-size: 0;
  visibility: hidden;
  clear: both;
}

.fd_container {
  position: relative;
  display: block;
  width: 100%;
  min-width: 100%;
}
@media only screen and (min-width: 1200px) {
  .fd_container {
    position: relative;
    display: block;
    width: 1200px;
    min-width: 1200px;
  }
}

.fd_container:after {
  display: block;
  height: 0;
  content: ".";
  font-size: 0;
  visibility: hidden;
  clear: both;
}

.fd_container.pos_center {
  margin: 0 auto;
}

.fd-container,
.fd-container-fluid,
.fd-container-pc,
.fd-container-tablet,
.fd-container-mobile {
  width: 100%;
  padding-left: var(--fd-gutter-x, 0);
  padding-right: var(--fd-gutter-x, 0);
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .fd-container,
.fd-container-fluid,
.fd-container-pc,
.fd-container-tablet,
.fd-container-mobile {
    max-width: var(--fd-breakpoint-tablet);
  }
}
@media only screen and (min-width: 1200px) {
  .fd-container,
.fd-container-fluid,
.fd-container-pc,
.fd-container-tablet,
.fd-container-mobile {
    max-width: var(--fd-breakpoint-pc);
  }
}

/* 
** grid, col
*/
.grid {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  background-color: var(--fd-primary);
}
@media only screen and (min-width: 768px) {
  .grid {
    background-color: var(--fd-secondary);
  }
}
@media only screen and (min-width: 1200px) {
  .grid {
    background-color: var(--fd-info);
  }
}

.grid [class*=col-] {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  font-size: 30px;
  text-align: center;
}

.grid .col-1 {
  grid-column: auto/span 1;
}

.grid .col-2 {
  grid-column: auto/span 2;
}

.grid .col-3 {
  grid-column: auto/span 3;
}

.grid .col-4 {
  grid-column: auto/span 4;
}

.grid .col-5 {
  grid-column: auto/span 5;
}

.grid .col-6 {
  grid-column: auto/span 6;
}

.grid .col-7 {
  grid-column: auto/span 7;
}

.grid .col-8 {
  grid-column: auto/span 8;
}

.grid .col-9 {
  grid-column: auto/span 9;
}

.grid .col-10 {
  grid-column: auto/span 10;
}

.grid .col-11 {
  grid-column: auto/span 11;
}

.grid .col-12 {
  grid-column: auto/span 12;
}

.grid .col-start-1 {
  grid-column-start: 1;
}

.grid .col-start-2 {
  grid-column-start: 2;
}

.grid .col-start-3 {
  grid-column-start: 3;
}

.grid .col-start-4 {
  grid-column-start: 4;
}

.grid .col-start-5 {
  grid-column-start: 5;
}

.grid .col-start-6 {
  grid-column-start: 6;
}

.grid .col-start-7 {
  grid-column-start: 7;
}

.grid .col-start-8 {
  grid-column-start: 8;
}

.grid .col-start-9 {
  grid-column-start: 9;
}

.grid .col-start-10 {
  grid-column-start: 10;
}

.grid .col-start-11 {
  grid-column-start: 11;
}

@media only screen and (min-width: 768px) {
  .grid .col-tablet-1 {
    grid-column: auto/span 1;
  }
  .grid .col-tablet-2 {
    grid-column: auto/span 2;
  }
  .grid .col-tablet-3 {
    grid-column: auto/span 3;
  }
  .grid .col-tablet-4 {
    grid-column: auto/span 4;
  }
  .grid .col-tablet-5 {
    grid-column: auto/span 5;
  }
  .grid .col-tablet-6 {
    grid-column: auto/span 6;
  }
  .grid .col-tablet-7 {
    grid-column: auto/span 7;
  }
  .grid .col-tablet-8 {
    grid-column: auto/span 8;
  }
  .grid .col-tablet-9 {
    grid-column: auto/span 9;
  }
  .grid .col-tablet-10 {
    grid-column: auto/span 10;
  }
  .grid .col-tablet-11 {
    grid-column: auto/span 11;
  }
  .grid .col-tablet-12 {
    grid-column: auto/span 12;
  }
  .grid .col-start-tablet-1 {
    grid-column-start: 1;
  }
  .grid .col-start-tablet-2 {
    grid-column-start: 2;
  }
  .grid .col-start-tablet-3 {
    grid-column-start: 3;
  }
  .grid .col-start-tablet-4 {
    grid-column-start: 4;
  }
  .grid .col-start-tablet-5 {
    grid-column-start: 5;
  }
  .grid .col-start-tablet-6 {
    grid-column-start: 6;
  }
  .grid .col-start-tablet-7 {
    grid-column-start: 7;
  }
  .grid .col-start-tablet-8 {
    grid-column-start: 8;
  }
  .grid .col-start-tablet-9 {
    grid-column-start: 9;
  }
  .grid .col-start-tablet-10 {
    grid-column-start: 10;
  }
  .grid .col-start-tablet-11 {
    grid-column-start: 11;
  }
}
@media only screen and (min-width: 1200px) {
  .grid .col-pc-1 {
    grid-column: auto/span 1;
  }
  .grid .col-pc-2 {
    grid-column: auto/span 2;
  }
  .grid .col-pc-3 {
    grid-column: auto/span 3;
  }
  .grid .col-pc-4 {
    grid-column: auto/span 4;
  }
  .grid .col-pc-5 {
    grid-column: auto/span 5;
  }
  .grid .col-pc-6 {
    grid-column: auto/span 6;
  }
  .grid .col-pc-7 {
    grid-column: auto/span 7;
  }
  .grid .col-pc-8 {
    grid-column: auto/span 8;
  }
  .grid .col-pc-9 {
    grid-column: auto/span 9;
  }
  .grid .col-pc-10 {
    grid-column: auto/span 10;
  }
  .grid .col-pc-11 {
    grid-column: auto/span 11;
  }
  .grid .col-pc-12 {
    grid-column: auto/span 12;
  }
  .grid .col-start-pc-1 {
    grid-column-start: 1;
  }
  .grid .col-start-pc-2 {
    grid-column-start: 2;
  }
  .grid .col-start-pc-3 {
    grid-column-start: 3;
  }
  .grid .col-start-pc-4 {
    grid-column-start: 4;
  }
  .grid .col-start-pc-5 {
    grid-column-start: 5;
  }
  .grid .col-start-pc-6 {
    grid-column-start: 6;
  }
  .grid .col-start-pc-7 {
    grid-column-start: 7;
  }
  .grid .col-start-pc-8 {
    grid-column-start: 8;
  }
  .grid .col-start-pc-9 {
    grid-column-start: 9;
  }
  .grid .col-start-pc-10 {
    grid-column-start: 10;
  }
  .grid .col-start-pc-11 {
    grid-column-start: 11;
  }
}
.hd {
  width: 100%;
  background-color: var(--fd-white);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.hd .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd h1 a {
  color: var(--fd-primary);
}

.hd .gnb {
  display: flex;
}

.hd .gnb li {
  margin-right: 10px;
}

.hd .gnb li:last-child {
  margin-right: 0;
}

.hd .gnb li a {
  display: block;
  padding: 20px 30px;
}

.hd .gnb li a:hover {
  background-color: var(--fd-gray-500);
}

.ft {
  width: 100%;
  background-color: var(--fd-gray-dark);
  padding: 60px 0;
  color: var(--fd-gray-500);
}

.ft .upper {
  width: 100%;
  border-bottom: 1px solid var(--fd-gray-500);
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ft .upper h1 {
  font-weight: normal;
}

.ft .upper ul {
  display: flex;
}

.ft .upper ul li {
  margin-right: 10px;
}

.ft .upper ul li:last-child {
  margin-right: 0;
}

.ft .upper ul li a {
  color: inherit;
}

.ft .lower {
  width: 100%;
  padding-top: 20px;
}

.ft .lower address {
  width: 100%;
  margin-bottom: 20px;
}

.ft .lower p {
  width: 100%;
  text-align: center;
}

.st03 {
  position: relative;
  background-color: var(--fd-dark);
}

.article-list {
  display: flex;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .article-list {
    height: 700px;
  }
}

.article {
  flex: 50%;
  padding: 20px 10px;
  position: relative;
  opacity: 0.6;
  z-index: 1;
  transition: opacity 1s, flex 1s;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .article {
    flex: 1;
    padding: 70px 40px 100px;
  }
}

.article::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  background: var(--fd-gray-700);
  top: 0;
  bottom: 0;
  left: -200px; /*마우스 호버 전 article의 왼쪽 바깥쪽에 배치*/
  opacity: 0; /*마우스 호버 전 투명하게 숨김 처리*/
  transition: 1s;
}
@media only screen and (min-width: 768px) {
  .article::before {
    width: 80%;
  }
}

.article .box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
}

.article .box .con {
  width: 100%;
  transition: 0.5s; /*호버시 전환효과 처리 */
}

.article .box .con h3 {
  color: #fff;
  margin-bottom: 40px;
  padding-top: 10px;
  transition: 1s;
}
@media only screen and (min-width: 768px) {
  .article .box .con h3 {
    padding-top: 70px;
  }
}

.article .box .con h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #777;
  margin-top: 20px;
  transition: 1.5s;
}

.article .box .con p {
  color: #999;
}

.article .box figure {
  width: 100%;
  height: 15vh;
  background: #777;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  filter: saturate(10%); /* 채도를 낮춤*/
  transform-origin: left center; /*왼쪽 방향 기준으로 변형이 일어나도록 중심축 변경*/
  transition: 1s;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .article .box figure {
    margin-top: 0;
  }
}

.article .box figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  .article:hover {
    flex: 1.5;
    opacity: 1;
    z-index: 2;
  }
  .article:hover::before {
    left: 0px;
    opacity: 1;
  }
  .article:hover .box .con {
    width: 75%;
  }
  .article:hover .box .con h3 {
    font-size: 3vw;
    padding-top: 0px;
  }
  .article:hover .box .con h3::after {
    width: 6vw;
    background: var(--fd-warning);
  }
  .article:hover .box figure {
    height: 25vh;
    filter: saturate(120%);
    transform: translateY(3vh);
  }
}
.viewArticle {
  width: 100%;
  background: var(--fd-gray-900);
  position: absolute;
  top: 0px;
  bottom: 0;
  left: -100%; /*왼쪽 화면 바깥에 배치*/
  opacity: 0; /*투명도 0으로 비활성화*/
  z-index: 2; /*2로 설정하며 section은 덮고 h1과 nav는 aside 위쪽에 배치*/
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /*자식 요소인 .txt와 figure를 좌우 양 끝에 배치 */
  transition: 1s; /*전환효과 설정*/
}
@media only screen and (min-width: 768px) {
  .viewArticle {
    flex-wrap: nowrap;
  }
}

.viewArticle.on {
  /*클래스 on이 붙으면*/
  opacity: 1;
  left: 0%; /*왼쪽 바깥에서 화면 안쪽으로 이동하도록 설정*/
}

.viewArticle .box {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .viewArticle .box {
    width: 25%;
    height: 100%;
  }
}

.viewArticle .box h3 {
  color: #ddd;
  margin-bottom: 20px;
}

.viewArticle .box p {
  color: #666;
  margin-bottom: 60px;
}

.viewArticle .box button.closeBtn {
  color: var(--fd-warning);
  background: none;
  outline: 0;
  border: 0 none;
}

.viewArticle figure {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .viewArticle figure {
    width: 72%;
    height: 100%;
  }
}

.viewArticle figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}