.st06 {
}

#cover-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#video-studiomeal {
  transform: scale(1);
}
